
							<!DOCTYPE html>
							<html>
								<head>
								<title>About Me</title>
								
								</head>
								<body>
								<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>
								<h1> Kang, Megan
</h1>
								<p>1. I am more comfortable with speaking Korean. <br>
								2. I love Disney movies.<br>
								3. My mbti is INFP.<br>
								The reason why I study computer science is because my dad is a computer science professor and he encouraged me to take this major and I also play a lot of video games which peaked my interest in computer science. </p>
								<h2>My Professional Profile</h2>
								<a href="https://github.com/meganhk9905">Megan's Github</a><br>
								<img src="../resources/img/itme.jpg" alt="It's me Mario!" style="width:500px;height:700px;"/>
								<h3> My Favorite Projects<h3>
								<table style="width:50%">
								  <tr>
								    <th>Name of the Project</th>
								    <th>Technologies Used</th>
								  </tr>
								  <tr>
								    <td style="font-size:15px">Space Invaders</td>
								    <td style="font-size:15px">Unity (C#)</td>
								  </tr>
								  <tr>
								    <td style="font-size:15px">PawTrax</td>
								    <td style="font-size:15px">Apache Cordova (Node.js)</td>
								  </tr>
								  <tr>
								  <td style="font-size:15px">Dictionary</td>
								  <td style="font-size:15px">C++ (data structures)</td>
								</table>
								<h4>My Interests</h4>
								<ul>
								  <li>Computer Science</li>
								  <li>Video Games</li>
								  <li>Animals</li>
								</ul>
								
								</body>
							</html>
							
								
